{% extends 'base.html.twig' %}

{% block title %}Burger{% endblock %}

{% block body %}
    <div class="container">
        <h1>Listes des Burgers</h1>
        <table class="table">
            <tr class="thead-dark">
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for burger in lesBurgers %}
                <tr>
                    <td><img src="{{ asset("images/burger/" ~ burger.name ~ ".jfif") }}" alt="" width="150" height="100"></td>
                    <td><a href="{{ path('afficher_burger',{'name' : burger.name | lower}) }}">{{ burger.name }}</a></td>
                    <td>{{ burger.description }}</td>
                    <td>{{ burger.price }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
