{% extends 'base.html.twig' %}

{% block title %}Burger{% endblock %}

{% block body %}
    <div class="container">
        <h1>Burger {{ burger.name }}</h1>
        <div class="row">
            <div class="col-2">
                <img src="{{ asset("images/burger/" ~ burger.name ~ ".jfif") }}" alt="" width ="150" height="100">
            </div>
            <div class="col-10 ">
                <h2>{{ burger.name }}</h2>
                <ul>
                    <li>Prix : {{ burger.price}} </li>
                    <li>Description : {{ burger.description}} </li>
                </ul>
            </div>

        </div>
    </div>


{% endblock %}
