{% extends 'base.html.twig' %}

{% block title %}Boisson{% endblock %}

{% block body %}
    <div class="container">

            <div class="row">
                <div class="col-2">
                    <img src="{{ asset("images/boisson/" ~ boisson.name ~ ".jfif") }}" alt="oasis">
                </div>
                <div class="col-10">
                    <h4>{{ boisson.name }}</h4>
                    <ul>
                        <li>Prix : {{ boisson.price }}</li>
                        <li>Description : {{ boisson.description }} </li>
                    </ul>
                </div>
            </div>

    </div>


{% endblock %}
