{% extends 'base.html.twig' %}

{% block title %}Burger{% endblock %}

{% block body %}
    <div class="container">
        <h1>Les Boissons</h1>
        <table class="table">
            <tr class="thead-dark">
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            {% for boisson in boissons %}
                <tr>
                    <td><img src="{{ asset("images/boisson/" ~ boisson.name ~ ".jfif") }}" alt="boisson" ></td>
                    <td><a href="{{ path('afficher_boisson',{'name' : boisson.name | lower}) }}">{{ boisson.name }}</a> </td>
                    <td>{{ boisson.description }}</td>
                    <td>{{ boisson.price}}</td>

                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
